body {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    background: #ffffff;
    color: #191919;
    margin: 0px;
}

.medium {
    font-weight: 500;
    font-size: 32px;
}

.bold {
    font-weight: 700;
    font-size: 48px;
}

.flex-container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.left {
    background-color: white;
    margin-right: 40px;
}

#image {
    width: 232px;
}

.right {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.links {
    background-color: white;
    width: 100%;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0;
}

ul > li {
    list-style: none;
    display: inline-block;
    margin-right: 5%;
}

#icon {
    width: 52px;
    transition: .2s ease-in-out 0s;
}

#icon:hover {
   transform: scale(1.1);
}

@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
        text-align: center;
    }

    .medium {
        font-size: 24px;
    }

    .bold {
        font-size: 36px;
    }

    .left {
        margin-right: 0px;
        margin-bottom: 10px;
    }

    #image {
        width: 174px;
    }

    .right {
        align-items: center;
    }

    ul {
        justify-content: center;
    }

    ul > li {
        margin: auto;
    }

    #icon {
        width: 52px;
    }
}