body {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    background: #ffffff;
    color: #191919;
    margin: 0px;
}

.medium {
    font-weight: 500;
    font-size: 36px;
}

.bold {
    font-weight: 700;
    font-size: 48px;
}

.flex-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    text-align: center;

}

.image {
    background-color: red;
}

.name {
    background-color: blue;
}

.links {
    background-color: purple;
    width: 100%;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    padding: 20px 0 20px 0;
}

ul > li {
    list-style: none;
    display: inline-block;
    margin-left: 3%;
    margin-right: 3%;
}

img {
    width: 50px;
}

#image {
    width: 128px;
}